/* Eric Meyer's CSS Reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
body{
    font-weight: lighter;
    font-family: OpenSansRegular, sans-serif;
    
    display: block;

}
/* grid layout */
.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;

}
/* Header */
header{
  grid-column: 1/3;
  grid-row: 1;
    line-height: 5px;
    background: #9ad3de;
    color: whitesmoke;
    text-align: center;
    
    padding: 30px;
}
h1{
    font-size: 20px;
}
/* my photo */
img{
    /* float: left; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* main */
.content{
  grid-column: 2;
    grid-row: 2;
    background: #e3e3e3;
    padding: 5px;

}

 section h2{
     font-size: 15px;
     text-transform: uppercase;
     font-weight: 400;
     
 }
 .degree{
   color: #474D4F;
   font-size: 10px;
   font-weight: bold;
   line-height: 0.1px;
 }
 .date{
   color: #626465de;
   font-size: 11px;
 }
svg{
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

/* aside*/
 .aside{
   grid-column: 1;
   grid-row: 2;
  background: #89bdd3;
  padding: 30px;
  width: 100%;
  font-size: 13px;
  }
  .aside h2{
    font-size: 15px;
    text-align: center;

  }

  .aside a{
    color:#000000bd;
    
  }

  .prog{
    height: 5px;
    margin-top: 10px;
  }

  .item{
    list-style-type: circle;
  }
  #language-english{
    width: 80%;
  }
  #language-danish{
    width: 65%;
  }
  #language-persian{
    width: 100%;
  }

  /* larg screen */
  @media only screen  and (min-width : 1824px) {
    .aside {
        width: 100%;
    }
} 

/* smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  body{
    width: 100%;
  }
  .aside{
    width:100%;
  }
  
}

